matplotlib
numpy
pandas
wget
opencv-python
opencv-contrib-python
pillow
pytesseract
tesseract
wget==3.0
imutils
scikit-image
librosa
seaborn
tqdm
xgboost
PyWavelets
torch
torchaudio
torchsummary
torchvision
scikit-image
scikit-learn
scikit-plot
h5py
ipykernel
jupyter
